* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
  }
/* Ahora voy a poner el css del header carrousel ya que esta presnete
en todas las pestañas del proyecto*/

header{
    width: 100vw;
    height: 3vh;

}

    .slider_informacion{
        height: 10vh;
        display: flex;
        justify-content:flex-start;
        align-items: center;
        font-size: 2rem;
    }

        /*el codigo que esta debajo esta asiciado
        al carousel con los mensajes de bienvenida*/    
        .contenedor_carousel{
            width:100vw;
            height: 15vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: nowrap;
            overflow-x: hidden;
        }

        .movimiento_carousel{
            width: 300%;
            display: flex;
            
        }

        .mensaje_info_carousel{
            flex: 0 0 100%;
            height: 5vh;
            border-bottom: 1px solid black;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: Arial, Helvetica, sans-serif;
            }
        
        
    /*ahora viene el css del menu de navegacion 
    para mostrar los productos*/


    .main-index{
    height: auto;
    visibility: hidden;
    opacity: 0;
    transition:opacity 1s ease, visibility 3s ease ;
} 

    .main-index.animacion-ver-bs{
        height: auto;
        visibility: visible;
        opacity: 1;
        transition: opacity 2s;
        margin-bottom: 3rem;
    }


.contenedor_tipo_productos{
    width: 100vw;
    height: 15vh;

}

    .menu_tipo_productos{
        height: 15vh;
        width: 100vw;
        
    }

    .productos{
        width: 100vw;
        height: 6vh;
        margin-top: 1rem;
        display: flex;
        gap: 6rem;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .producto_lista{
        height: auto;
        width: 15vw;
        text-align: center;
        background-color: #ECCDF7;
        border: 2px solid #111;
        border-radius: 8px;
        box-sizing: border-box;
        color: #111;
        cursor: pointer;
        display: flex;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        height: 2.4rem;
        justify-content: center;
        align-items: center;
        line-height: 24px;
        max-width: 100%;
        padding: 0 2;
        position: relative;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }

        .producto_lista:after {
        background-color: #111;
        border-radius: 8px;
        content: "";
        display: block;
        height: 48px;
        left: 0;
        width: 100%;
        position: absolute;
        top: -2px;
        transform: translate(8px, 8px);
        transition: transform .2s ease-out;
        z-index: -1;
        }

        .producto_lista:hover:after {
        transform: translate(0, 0);
        }

        .producto_lista:active {
        background-color: #eccdf7;
        outline: 0;
        }

        .producto_lista:hover {
        outline: 0;
        }

        @media (min-width: 768px) {
        .producto_lista {
            padding: 0 40px;
        }
        }

    /* ahora vamos a hacer el css de la foto de portada
    donde aparece el nombre de la empresa con un pequeño
    boton*/

    .contenedor_foto_portada{
        width: 100vw;
        margin-top: 1.5rem;
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        position: relative;
        

    }

        .foto_portada{
            height: 65vh;
            width: 95vw;
            border-radius: 0.3rem;
            
        }

        .boton_descubre{
            position: absolute;
            top: 80%;
            left: 50%;
            transform: translate(-50%,-50%);
            transition: transform 0.3s ease-in-out;
        }

        .boton_descubre:hover{
            transform: translate(-50%, -50%) scale(1.1);

        }



        .descubre {
            --c2: #202020;
            --c1: white;
            --c3: #ECCDF7;
            --size-letter: 32px;
            padding: 0.5em 1em;
            font-size: var(--size-letter);
          
            background-color: white;
            border: calc(var(--size-letter) / 6) solid var(--c2);
            border-radius: 0.2em;
            cursor: pointer;
          
            overflow: hidden;
            position: relative;
            transition: 300ms cubic-bezier(0.83, 0, 0.17, 1);
          
            & > .mensaje_descubre{
              font-weight: 700;
              color: var(--c2);
              position: relative;
              z-index: 1;
              transition: color 700ms cubic-bezier(0.83, 0, 0.17, 1);
            }
          }
          
          .descubre::after {
            content: "";
          
            width: 0;
            height: calc(300% + 1em);
          
            position: absolute;
            translate: -50% -50%;
            inset: 50%;
            rotate: 30deg;
          
            background-color: var(--c2);
            transition: 800ms cubic-bezier(0.83, 0, 0.17, 1);
          }
          
          .descubre:hover {
            & > .mensaje_descubre{
              color: var(--c3);
            }
            &::after {
              width: calc(120% + 1em);
            }
          }
          
          .slice:active {
            scale: 0.98;
            filter: brightness(0.9);
          }
        
              

    


/* ahora vamos a hacer el css del main del index*/

.best-seller{
    height: auto;
    text-align: center;
    }

    .titulo_best_sellet{
        text-align: left;
        margin-left: 1%;
        margin-bottom: 2rem;
        display: flex;
        align-items: end;
        height: 10vh;
        width: 15vw;
        font-size: 0.7cm;
        border-bottom:3px solid  #111; 
    }

    .contenedor_carousel_ventas{
        height: auto;
    }

    .slider_ventas{
        height: auto;
    }

    .productos_ventas{
        height: auto;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        display: flex;
    }

    .escaparate_1{
        display: flex;
        justify-content:center;
        height: auto;
        gap: 1rem;
    }

    .escaparate_2{
        margin-top: 2rem;
        display: flex;
        justify-content:center;
        height: auto;
        gap: 1rem;
    }

    .tipo_producto{
        height: 70vh;
        width: 30vw;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin: 0.3rem;
        padding-top: 0.3rem;
        background-color:#ECCDF7;
        transition: 0.4s;
    }

    .tipo_producto:hover{
        scale: 1.05;
        transition: 0.5s;
    }

    .vista_producto{
        height: 50vh;
        margin: 0.1rem;
    }

    .foto_producto{
        height:60vh;
        width: 29vw;

    }

    .lista_info_producto{
        margin-top: 0.6rem;
        list-style: none;
        font-size: 0.5cm;
        text-align: left;
        margin-left: 0.5rem;
    }

    .opciones_categorias {
        width: 100%;
        margin-top: 2rem;
        padding: 1rem;
    }

    .titulo_colecciones{
        border-bottom: 1px solid black;
    }
        
    
footer{
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    border-top: 0.4px solid black;
    padding-top: 2rem;
}

    .enlaces{
        margin-bottom: 2rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 1.2rem;
        color: black;
    }

    .rrss{
        color: black;
    }

    .derechos{
        text-align: center;
        height: auto;
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }


/*ahora va el css de la pestaña productos*/

.cabecera_productos{
    width: 100vw;
    height: auto;
}

.nav_productos{
    height: auto;
    margin-top: 1rem;
}

.info_nav_productos{
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.volver_index{
    width: 3rem;
    margin-left: 3rem;
}

.boton_desplegable{
    display: flex;
    justify-content: flex-start;
    margin-left: 2rem;
    margin-bottom: 3rem;
    visibility: visible;
}


#deplegable_categorias{
    opacity: 0;
    visibility: hidden;
    height: 0;
    transition: opacity 1s ease,max-height 0.4s, visibility 3s ease;
    position:static;
}
  
#deplegable_categorias.activo{
    height: 0;
    opacity: 1;
    visibility: visible;
    max-height: 5rem;
}



/* ahora vamos a crear el css del main para mostrar los productos*/


.main_productos{
    width: 100vw;
    height: auto;


}

    .escaparate{
        height: auto;
        width: 100vw;
    }
    
    h2{
        border-bottom: 1px solid black;
    }

    .carousel_escaparate_collares{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 2rem;
        margin-bottom: 7rem;
        margin-top: 2rem;
    }

    .escaparate_collares_1{
        display: flex;
        flex-direction: row;
        gap: 4rem;
    }

    .escaparate_collares_2{
        display: flex;
        flex-direction: row;
        gap: 4rem;
    }

    .escaparate_collares_3{
        display: flex;
        flex-direction: row;
        gap: 4rem;
    }

    .carousel_productos{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid black;
        border-radius: 0.4rem;
        overflow: hidden;
        transition: 1s ease;

    }

    .carousel_productos:hover{
        scale: 1.05;
        transition: 0.5s;
    }

    .foto_producto_categoria{
        height: 20rem;
        width: 16rem;

    }

 

    .carousel_escaparate_anillos{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 2rem;
        margin-top: 2rem;
        margin-bottom: 7rem;
    }

    .escaparate_anillos_1{
        display: flex;
        flex-direction: row;
        gap: 4rem;
    }

    .escaparate_anillos_2{
        display: flex;
        flex-direction: row;
        gap: 4rem;
    }

    .carousel_escaparate_pulseras{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 2rem;
        margin-top: 2rem;
    }

    .escaparate_pulseras_1{
        display: flex;
        flex-direction: row;
        gap: 4rem;
    }


.carousel_escaparate_pendientes{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 2rem;
        margin-top: 2rem;
    }



    .escaparate_pendientes_1{
        display: flex;
        flex-direction: row;
        gap: 4rem;
    }

    .escaparate_pendientes_2{
        display: flex;
        flex-direction: row;
        gap: 4rem;
    }