<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos Minaco</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="../js/ui.js"></script>
</head>

<body>

    <header class="cabecera_productos">
        <div class="slider_informacion">
            <div class="contenedor_carousel">
                <div class="movimiento_carousel">
                    <div class="mensaje_info_carousel" id="primer_mensaje">
                        <p class="texto_info">Te presentamos todos nuestros productos</p>
                    </div>

                    <div class="mensaje_info_carousel">
                        <p class="texto_info">Productos 100% artesanos</p>
                    </div>

                    <div class="mensaje_info_carousel" id="ultimo_mensaje">
                        <p class="texto_info">Envios a peninsula e islas</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <nav class="nav_productos">
        <div class="info_nav_productos">
            <div class="volver_index">
                <button class="producto_lista"><a href="../index.html">Inicio</a></button>
            </div>
            <div class="contenedor_tipo_productos">
                <div class="menu_tipo_productos">
                    <ul class="productos">
                        <div class="producto_lista">
                            <li>Collares</li>
                        </div>
                        <div class="producto_lista">
                            <li>Anillos</li>
                        </div>
                        <div class="producto_lista">
                            <li>Pulseras</li>
                        </div>
                        <div class="producto_lista">
                            <li>Pendientes</li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <main class="main_productos">

        <div class="escaparate_collares">
            <h2>Collares</h2>
            <div class="carousel_escaparate_collares">
                <div class="escaparate_collares_1">
                    <div class="carousel_productos">
                        <picture>
                            <img src="../img/collares/collar_caracola_dorado.jpg" / class="foto_producto_categoria">
                        </picture>
                        <label>
                            Collar 1
                        </label>
                    </div>
                    <div class="carousel_productos">
                        <picture>
                            <img src="../img/collares/collar_chuche_acero.jpg" class="foto_producto_categoria">
                        </picture>
                        <label>
                            Collar 1
                        </label>
                    </div>
                    <div class="carousel_productos">
                        <picture>
                            <img src="../img/collares/collar_maritimo_acero.jpg" class="foto_producto_categoria">
                        </picture>
                        <label>
                            Collar 1
                        </label>
                    </div>
                </div>
                <div class="escaparate_collares_2">
                    <div class="carousel_productos">
                        <picture>
                            <img src="../img/collares/collar_paraiso_acero.jpg" class="foto_producto_categoria">
                        </picture>
                        <label>
                            Collar 1
                        </label>
                    </div>
                    <div class="carousel_productos">
                        <picture>
                            <img src="../img/collares/collar_verano_dorado.jpg" class="foto_producto_categoria">
                        </picture>
                        <label>
                            Collar 1
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="escaparate_anillos">
            <h2>Anillos</h2>
            <div class="carousel_escaparate_anillos">
                <div class="escaparate_anillos_1">
                    <div class="carousel_productos">
                        <picture>
                            <img src="../img/anillos/anillo_lucero_plateado.jpg" class="foto_producto_categoria">
                        </picture>
                        <label>
                            Anillo 1
                        </label>
                    </div>
                    <div class="carousel_productos">
                        <picture>
                            <img src="../img/anillos/anillo_paris_plateado.jpg" class="foto_producto_categoria">
                        </picture>
                        <label>
                            Anillo 1
                        </label>
                    </div>
                    <div class="carousel_productos">
                        <picture>
                            <img src="../img/anillos/anillo_sol_plata.jpg" class="foto_producto_categoria">
                        </picture>
                        <label>
                            Anillo 1
                        </label>
                    </div>
                    <div class="carousel_productos">
                        <picture>
                            <img src="../img/anillos/anillo_solar_dorado.jpg" class="foto_producto_categoria">
                        </picture>
                        <label>
                            Anillo 1
                        </label>
                    </div>

                </div>
            </div>


        </div>
    </main>
</body>

</html>