<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos Minaco</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    <header class="cabecera_productos">
        <div class="slider_informacion">
            <div class="contenedor_carousel">
                <div class="movimiento_carousel">
                    <div class="mensaje_info_carousel" id="primer_mensaje">
                        <p class="texto_info">Te presentamos todos nuestros productos</p>
                    </div>

                    <div class="mensaje_info_carousel">
                        <p class="texto_info">Productos 100% artesanos</p>
                    </div>

                    <div class="mensaje_info_carousel" id="ultimo_mensaje">
                        <p class="texto_info">Envios a peninsula e islas</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <nav class="nav_productos">
        <div class="info_nav_productos">
            <div class="volver_index">
                <button class="producto_lista"><a href="../index.html">Inicio</a></button>
            </div>
            <div class="desplegable_categorias">
                <div class="boton_desplegable_categorias">
                    <div class="boton_desplegable">
                        <button class="producto_lista" id="boton__accion_desplegable"
                            onclick="f_desplegar_menu_categorias()">Categorias</button>
                    </div>
                    <div class="contenedor_tipo_productos">
                        <div class="menu_tipo_productos">
                            <ul class="productos" id="deplegable_categorias">
                                <li class="producto_lista">Collares</li>
                                <li class="producto_lista">Anillos</li>
                                <li class="producto_lista">Pulseras</li>
                                <li class="producto_lista">Pendientes</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <main class="main_productos">
        <div class="escaparate">
            <div class="escaparate_collares">
                <h2>Collares</h2>
                <div class="carousel_escaparate_collares">
                    <div class="escaparate_collares_1">
                        <div class="carousel_productos">
                            <picture>
                                <img src="../img/collares/collar-caracola-gold.jpg" class="foto_producto_categoria"
                                    alt="collar-caracola-gold">
                            </picture>
                            <label>Collar Caracola Dorado</label>
                            <label>7€</label>
                        </div>
                        <div class="carousel_productos">
                            <picture>
                                <img src="../img/collares/collar-dulce.jpg" alt="collar dulce"
                                    class="foto_producto_categoria">
                            </picture>
                            <label>Collar Dulce</label>
                            <label>7€</label>
                        </div>
                    </div>
                    <div class="escaparate_collares_2">
                        <div class="carousel_productos">
                            <picture>
                                <img src="../img/collares/collar-estrellado.jpg" alt="collar estrellado"
                                    class="foto_producto_categoria">
                            </picture>
                            <label>Collar Estrellado</label>
                            <label>7€</label>
                        </div>
                        <div class="carousel_productos">
                            <picture>
                                <img src="../img/collares/collar-fenix.jpg" alt="collar fenix"
                                    class="foto_producto_categoria">
                            </picture>
                            <label>Collar fenix</label>
                            <label>7€</label>
                        </div>
                        <div class="carousel_productos">
                            <picture>
                                <img src="../img/collares/collar-maritimo-acero.jpg" alt="collar maritimo"
                                    class="foto_producto_categoria">
                            </picture>
                            <label>Collar Maritimo</label>
                            <label>7€</label>
                        </div>
                        <div class="carousel_productos">
                            <picture>
                                <img src="../img/collares/collar-chuche.jpg" alt="collar-chuche"
                                    class="foto_producto_categoria">
                            </picture>
                            <label>Collar Chuche</label>
                            <label>7€</label>
                        </div>

                    </div>
                    <div class="escaparate_collares_3">
                        <div class="carousel_productos">
                            <picture>
                                <img src="../img/collares/collar-verano.jpg" alt="collar verano"
                                    class="foto_producto_categoria">
                            </picture>
                            <label>Collar Verano</label>
                            <label>7€</label>
                        </div>
                        <div class="carousel_productos">
                            <picture>
                                <img src="../img/collares/collar-paraiso.jpg" alt="collar paraiso"
                                    class="foto_producto_categoria">
                            </picture>
                            <label>Collar Paraiso</label>
                            <label>7€</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="escaparate_anillos">
                <h2>Anillos</h2>
                <div class="carousel_escaparate_anillos">
                    <div class="escaparate_anillos_1">
                        <div class="carousel_productos">
                            <picture>
                                <img src="../img/anillos/anillo-sol-golden.jpg" alt="anillo sol golden"
                                    class="foto_producto_categoria">
                            </picture>
                            <label>Anillo Sol Golden</label>
                            <label>7€</label>
                        </div>
                        <div class="carousel_productos">
                            <picture>
                                <img src="../img/anillos/anillo-sol-plata.jpg" alt="anillo sol plata"
                                    class="foto_producto_categoria">
                            </picture>
                            <label>Anillo Sol Plata</label>
                            <label>7€</label>
                        </div>
                    </div>
                    <div class="escaparate_anillos_2">
                        <div class="carousel_productos">
                            <picture>
                                <img src="../img/anillos/anillo-mariposa-acero.jpg" alt="anillo acero"
                                    class="foto_producto_categoria">
                            </picture>
                            <label>Anillo Mariposa Acero</label>
                            <label>7€</label>
                        </div>
                        <div class="carousel_productos">
                            <picture>
                                <img src="../img/anillos/anillo-paris-plata.jpg" alt="anillo paris plata"
                                    class="foto_producto_categoria">
                            </picture>
                            <label>Anillo Paris Plata</label>
                            <label>7€</label>
                        </div>
                        <div class="carousel_productos">
                            <picture>
                                <img src="../img/anillos/anillo-zirconita.jpg" alt="anillo Zirconita"
                                    class="foto_producto_categoria">
                            </picture>
                            <label>Anillo Zirconita</label>
                            <label>7€</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="escaparate_pulseras">
                <h2>Pulseras</h2>
                <div class="carousel_escaparate_pulseras">
                    <div class="escaparate_pulseras_1">
                        <div class="carousel_productos">
                            <picture>
                                <img src="../img/pulseras/pulsera-estrella-plateada.jpg" alt="estrella plateada"
                                    class="foto_producto_categoria">
                            </picture>
                            <label>Pulsera Plateada</label>
                            <label>7€</label>
                        </div>
                        <div class="carousel_productos">
                            <picture>
                                <img src="../img/pulseras/pulsera-mar-rosa.jpg" alt="estrella mar rosa"
                                    class="foto_producto_categoria">
                            </picture>
                            <label>Pulsera Mar Rosa</label>
                            <label>7€</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="escaparate_pendintes">
                <h2>Pendientes</h2>
                <div class="carousel_escaparate_pendientes">
                    <div class="escaparate_pendientes_1">
                        <div class="carousel_productos">
                            <picture>
                                <img src="../img/pendientes/pendientes_cadena_dorado.jpg"
                                    class="foto_producto_categoria">
                            </picture>
                            <label>
                                Pendintes Cadena Dorado
                            </label>
                        </div>
                        <div class="carousel_productos">
                            <picture>
                                <img src="../img/pendientes/pendientes_estrella_dorado.jpg"
                                    class="foto_producto_categoria">
                            </picture>
                            <label>
                                Pendientes Estrella Dorado
                            </label>
                        </div>
                        <div class="carousel_productos">
                            <picture>
                                <img src="../img/pendientes/pendientes_estrella_plateado.jpg"
                                    class="foto_producto_categoria">
                            </picture>
                            <label>
                                Pendientes Estrella Plateada
                            </label>
                        </div>
                    </div>
                    <div class="escaparate_pendientes_2">
                        <div class="carousel_productos">
                            <picture>
                                <img src="../img/pendientes/pendientes_sol_dorado.jpg" class="foto_producto_categoria">
                            </picture>
                            <label>
                                Pendientes Sol Dorado
                            </label>
                        </div>
                        <div class="carousel_productos">
                            <picture>
                                <img src="../img/pendientes/pendientes_sol_plateado.jpg"
                                    class="foto_producto_categoria">
                            </picture>
                            <label>
                                Pendientes Sol Plateado
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="../js/ui.js"></script>

    </main>

    <footer>

        <div class="enlaces">
            <div class="redes">
                <p>Nuestras Redes</p>
                <ul>
                    <li><a target="_blank" href="https://www.instagram.com/minacobbrand/?igsh=M253NjJ2MnY3M2lu"
                            class="rrss">Instagram</a></li>
                    <li><a target="_blank" href="https://www.tiktok.com/@minacobrand?_t=ZN-8ylWeIwSYGk&_r=1"
                            class="rrss">TikTok</a></li>
                </ul>
            </div>
            <div class="contacto">
                <p>Mail de contacto</p>
                <label>minacobrand@gmail.com</label>
            </div>
        </div>

        <div class="derechos">
            <picture>
                <img alt="logo footer" class="logo-footer" src="../img/logo-empresa.jpg">
            </picture>

            <p>&copy; 2025 Minaco. Todos los derechos reservados.</p>
            <p>Diseñado con ❤️ por Minaco</p>
        </div>

    </footer>
</body>

</html>