<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista Producto</title>
    <script src="../js/ui.js" defer></script>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap"
        rel="stylesheet">
</head>

<body id="producto">
    <header>
        <section>
            <div class="slider_informacion">
                <div class="contenedor_carousel">
                    <div class="movimiento_carousel">
                        <div class="mensaje_info_carousel" id="primer_mensaje">
                            <p class="texto_info">Te damos la bienvenida a nuestra tienda</p>
                        </div>

                        <div class="mensaje_info_carousel">
                            <p class="texto_info">Productos 100% artesanos</p>
                        </div>

                        <div class="mensaje_info_carousel" id="ultimo_mensaje">
                            <p class="texto_info">Envios a peninsula e islas</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="logo-empresa">
            <picture>
                <img alt="logo footer" class="logo-footer" src="../img/logo-empresa.jpg">
            </picture>
        </section>
    </header>

    <nav class="nav-producto-seleccionado">
        <div class="contenedor-enlace-index">
            <a href="../index.html" class="enlace-volver-index">Inicio</a>
        </div>
        <div class="contenedor-enlace-index" id="boton-volver-categorias">
            <a href="../view/categorias_productos.html" class="enlace-volver-index">Categorias</a>
        </div>
    </nav>

    <main class="main-producto-seleccionado">
        <div class="contenedor-producto-seleccionado">
            <div class="informacio-producto-seleccionado">
                <picture>
                    <img class="foto-producto-seleccionado">
                </picture>
            </div>
            <div class="contenedor-informacion-producto-seleccionado">
                <div class="info-producto-seleccionado">
                </div>
                <div class="contenedor-boton-realizar-pedido">
                    <button onclick="window.location.href='generar_pedido_carrito.html'" class="boton-realizar-pedido"
                        type="submit" id="boton-hacer-pedido">HACER UN PEDIDO</button>
                </div>
            </div>

        </div>
    </main>


    <footer>

        <div class="enlaces">
            <div class="redes">
                <p>Nuestras Redes</p>
                <ul>
                    <li><a target="_blank" href="https://www.instagram.com/minacobbrand/?igsh=M253NjJ2MnY3M2lu"
                            class="rrss">Instagram</a></li>
                    <li><a target="_blank" href="https://www.tiktok.com/@minacobrand?_t=ZN-8ylWeIwSYGk&_r=1"
                            class="rrss">TikTok</a></li>
                </ul>
            </div>
            <div class="contacto">
                <p>Mail de contacto</p>
                <label>minacobrand@gmail.com</label>
            </div>
        </div>

        <div class="derechos">
            <picture>
                <img alt="logo footer" class="logo-footer" src="../img/logo-empresa.jpg">
            </picture>

            <p>&copy; 2025 Minaco. Todos los derechos reservados.</p>
            <p>Diseñado con ❤️ por Deiby Torres Guayanay</p>
        </div>

    </footer>
</body>

</html>